# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store

# =========================
# example cache
# =========================
cache/
examples/

# <<< gitignore:java >>>
# =========================
# Build / Gradle
# =========================
.gradle/
build/
out/
bin/

# =========================
# Generated Java sources
# （setup-java.py が自動生成）
# =========================

# =========================
# Ignore unsolved problems
# =========================
# 解けなかった問題は、以下の行のコメント (#) を外してください
#
# --- Java ---
src/main/java/abc452/A.java
src/test/java/abc452/ATest.java
src/main/java/abc452/B.java
src/test/java/abc452/BTest.java
src/main/java/abc452/C.java
src/test/java/abc452/CTest.java
src/main/java/abc452/D.java
src/test/java/abc452/DTest.java
src/main/java/abc452/E.java
src/test/java/abc452/ETest.java
src/main/java/abc452/F.java
src/test/java/abc452/FTest.java

# <<< gitignore:python >>>
# =========================
# Generated Python sources
# （setup-python.py が自動生成）
# =========================
# pytest.ini
__pycache__/
.pytest_cache/
*.pyc

# --- Python ---
# 解けなかった問題は、以下の行のコメント (#) を外してください
# A.py
# tests/test_a.py
# B.py
# tests/test_b.py
C.py
tests/test_c.py
D.py
tests/test_d.py
E.py
tests/test_e.py
F.py
tests/test_f.py
