# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store

# =========================
# example cache
# =========================
cache/
examples/

# <<< gitignore:java >>>
# =========================
# Build / Gradle
# =========================
.gradle/
build/
out/
bin/

# =========================
# Generated Java sources
# （setup-java.py が自動生成）
# =========================
src/main/java/abc441/*.java
src/test/java/abc441/*Test.java

# =========================
# Allow commit for solved problems
# =========================
# 解けた問題は、以下の行のコメント (#) を外してください
#
# --- Java ---
# !src/main/java/abc441/A.java
# !src/test/java/abc441/ATest.java
# !src/main/java/abc441/B.java
# !src/test/java/abc441/BTest.java
# !src/main/java/abc441/C.java
# !src/test/java/abc441/CTest.java
!src/main/java/abc441/D.java
!src/test/java/abc441/DTest.java
# !src/main/java/abc441/E.java
# !src/test/java/abc441/ETest.java
# !src/main/java/abc441/F.java
# !src/test/java/abc441/FTest.java

# <<< gitignore:python >>>
# =========================
# Generated Python sources
# （setup-python.py が自動生成）
# =========================
*.py
tests/*.py
# pytest.ini
__pycache__/
.pytest_cache/
*.pyc

# --- Python ---
!A.py
!tests/test_a.py
!B.py
!tests/test_b.py
# !C.py
# !tests/test_c.py
!D.py
!tests/test_d.py
# !E.py
# !tests/test_e.py
# !F.py
# !tests/test_f.py
